<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">I am a <span id="js-rotating">So Simple, Very Doge, Much Wow, Such Cool</span> Text Rotator</h4>
  </div>
  <div class="user-content">
    <p>      
      <b>HANYANG UNIVERSITY ERICA. Division of Computer Science 19</b>
    </p>
    <p>
      > <b>2019</b><br>
        - 한양대학교 ERICA 소프트웨어학부 입학<br>
        - 한양대학교 ERICA 소프트웨어학부 학생회 수습부원<br>
      > <b>2020</b><br>
        - 한양대학교 ERICA 소프트웨어학부 학생회 디자인부장<br>
        - 한양대학교 ERICA 0과1 학회 홍보부장<br>
        - 한양대학교 ERICA 사진 동아리 하이포커스 총무<br>
      > <b>2021</b><br>
        - 4차 산업 혁명 동아리 TAVE 7기<br>
        - 한양대학교 ERICA 사진 동아리 하이포커스 총무<br>
        - 4차 산업 혁명 동아리 TAVE 8기 홍보부원<br>
      > <b>2022</b><br>
        - 한양대학교 ERICA 사진 동아리 하이포커스 회장
    </p>
  </div>
</div>